* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: 'Roboto', sans-serif;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: calc(30% - 20px);
    background-color: rgb(240, 240, 240);
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    margin: 20px 20px;
}

.card h2 {
    margin: 0;
    background-color: white;
    color: rgb(109, 117, 126);
}

.card p {
    margin: 0;
    background-color: white;
    color: rgb(109, 117, 126);
}

h3 {
    margin-top: 20px;
    text-align: center;
}

.p-container {
    text-align: center;
    padding: 10px 60px;
}

#form-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

#add-member-form {
    display: inline-block;
    text-align: left;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
}

.form-group input[type="text"] {
    width: 200px;
}